# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
language: r
cache: packages
addons:
  apt:
    packages:
      - ghostscript
r:
  - release
  - devel
r_packages:
  - covr
after_success:
  - Rscript -e 'covr::codecov()'
  - R CMD INSTALL $PKG_TARBALL

before_cache: Rscript -e 'remotes::install_cran("pkgdown")'
  deploy:
    provider: script
    script: Rscript -e 'pkgdown::deploy_site_github()'
    skip_cleanup: true
